{% extends "base_generic.html" %}
{% block title %}
Vulners Search
{% endblock %}

{% block content %}

<p>Welcome. This is a very basic Django website.</p>
<h2>List Vulners: </h2>

<form method="GET">
        {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<br>



<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Vendor</th>
      <th scope="col">CVE/JVN</th>
      <th scope="col">Description</th>
      <th scope="col">Published</th>
    </tr>
  </thead>
  <tbody>
      {% for vulner in vulners_list %}
    <tr>
      <th scope="row"></th>
      <td>{{ vulner.type}}</td>
      <td>{{ vulner.id}}</td>
      <td>{{ vulner.description| truncatewords:10}}</td>
      <td>{{ vulner.published }}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>






















<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Vendor</th>
      <th scope="col">CVE/JVN</th>
      <th scope="col">Description</th>
      <th scope="col">Published</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>date</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>date</td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
      <td>date</td>
    </tr>
  </tbody>
</table>
{# endfor #}

{% endblock %}
