{% extends "base_generic.html" %}
{% block title %}
Vulners Search
{% endblock %}

{% block content %}

<h2>Vulners Search: </h2>
<form style='float: left' method="GET">
    {{ form.as_p }}
    {% if not vulners_list %}
    <button type="submit" class="btn btn-primary">Search</button>
    {% else %}
    <button type="submit" name="skip" value="{{ skip }}" class="btn btn-primary">Get Next</button>
    {% if skip > 0 %}
    <button type="submit" name="skip_prev" value="{{ skip }}" class="btn btn-primary">Get Prev</button>
    {% endif %}


    {{ skip }}
    {% endif %}
    {% if vulners_list %}
</form>
<br>
<form style='float: right' method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger text-right">Save to local DB</button>
</form>
<br>
{% endif %}

{% if vulners_list %}
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Vendor</th>
        <th scope="col">Vulner</th>
        <th scope="col">Description</th>
        <th scope="col">Published</th>
    </tr>
    </thead>
    <tbody>
    {% for vulner in vulners_list %}
    <tr>
        <td>{{ vulner.type}}</td>
        <td>{{ vulner.id}}</td>
        <td>{{ vulner.description| truncatewords:10}}</td>
        <td>{{ vulner.published }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% else %}
<p>Get request to see some vulners</p>
{% endif %}

{% endblock %}
